<li class="navbar-item"><a class="navbar-link" href="{{ "." | relURL }}"><img src="{{ "images/app-logo.png" | relURL }}" height="56px"/></a></li>
<li class="navbar-item"><a class="navbar-link" data-item="Home" href="{{ "." | relURL }}">Home</a></li>
<li class="navbar-item"><a class="navbar-link" data-item='Download' href="{{ "download" | relURL }}">Download</a></li>
<li class="navbar-item"><a class="navbar-link" data-item='Use Cases' href="{{ "use-cases" | relURL }}">Use Cases</a></li>
<li class="navbar-item"><a class="navbar-link" data-item='Documentation' href="{{ "documentation" | relURL }}">Documentation</a></li>
<li class="navbar-item"><a class="navbar-link" data-item='About' href="{{ "about" | relURL }}">About</a></li>
