<li class="navbar-item"><a class="navbar-link" href="{{ "." | relURL }}"><img src="{{ "images/app-logo.png" | relURL }}" height="56px"/></a></li>
<li class="navbar-item"><a class="navbar-link" data-item='Download' href="{{ "download" | relURL }}">Download</a></li>
<li class="navbar-item"><a class="navbar-link" data-item='Educators' href="{{ "educators" | relURL }}">Educators</a></li>
<li class="navbar-item"><a class="navbar-link" data-item='Government' href="{{ "government" | relURL }}">Government</a></li>
<li class="navbar-item"><a class="navbar-link" data-item='Healthcare' href="{{ "healthcare" | relURL }}">Healthcare</a></li>
<li class="navbar-item"><a class="navbar-link" data-item='Publishing' href="{{ "publishing" | relURL }}">Publishing</a></li>
<li class="navbar-item"><a class="navbar-link" data-item='Students' href="{{ "students" | relURL }}">Students</a></li>
<li class="navbar-item"><a class="navbar-link" data-item='About' href="{{ "about" | relURL }}">About</a></li>
